body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
    border: none; /* Remove default border from buttons */
    background: none; /* Remove default background from buttons */
}

/* Header style */
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ecebeb;
}

.header img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.header_text {
    display: flex;
    flex-direction: column;
}

.main_text {
    font-size: 26.4px;
    font-weight: bold;
}

.sub_text {
    font-size: 15.4px;
}

/* Basic box style */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.box {
  width: 535px;
  height: 678px;
  background: #F1F8FC;
  border: 1px black solid;
  margin: 0 20px; /* Adjust spacing between the boxes */
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.box-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.box-subtext {
  font-size: 14px;
  color: #888;
}

/* Styles for the Q&A chat box */
.chat-container {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  height: calc(100% - 90px); /* Adjust the value to leave space for user input */
  overflow-y: auto; /* Enable vertical scrolling */
  word-wrap: break-word;
}

.message {
  margin-bottom: 10px;
  word-wrap: break-word; /* Added to prevent message overflow */
}

.user-message {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
}

.assistant-message {
  background-color: #e0f7fa;
  padding: 8px;
  border-radius: 5px;
}

.context-message {
    background-color: #e0effa;
    padding: 8px;
    border-radius: 5px;
}

.content-line {
    color: black
}

.source-line {
    color: gray;
    font-weight: bold;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #ccc;
  background-color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  word-wrap: break-word; /* Added to prevent user input overflow */
}

.user-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.user-input button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}